#!/usr/bin/make -f

clean:
	echo $(pwd)
	make clean

build:
	make library

binary:
	mkdir -p debian/libcabp/usr/local/lib
	cp bin/libCABP.so debian/libcabp/usr/local/lib/
	dh_gencontrol
	dh_builddeb

.PHONY: build
.PHONY: clean
